{{ define "html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .title }}</title>
        <meta name="description" content="{{ .description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/app.css">
        <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
        <link rel="icon" href="https://ajawtrubycbmbqfwkiyw.supabase.co/storage/v1/object/public/pub_imgs/chess-htmx/favicon.webp" type="image/webp">
    </head>
    <body class="bg-black text-white overflow-x-hidden">
        <main class="w-dvw h-dvh" id="main-content">
            {{ template "header" . }}
            {{ template "content" . }}
        </main>
        <footer class="grid grid-cols-3 py-3 px-1 bg-gray-800">
            <section class="text-xs">
                <ul class="flex gap-2">
                    <li class="flex flex-row">                
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 translate-y-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
                        </svg>
                        <a href="mailto:rfong3488@gmail.com" class="italic">rfong3488@gmail.com</a>
                    </li>
                    <li class="flex flex-row">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 translate-y-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                        <a href="tel:+16503399223">(650)339-9223</a>
                    </li>
                </ul>
            </section>
            <section class="text-sm flex justify-center">
                <span class="text-center">© 2024 Ryan Fong</span>
            </section>
        </footer>
    </body>
</html>
{{ end }}